pkgbase = python-schwifty
	pkgdesc = Validate/generate IBANS and BICS
	pkgver = 2024.11.0
	pkgrel = 3
	url = http://github.com/mdomke/schwifty
	arch = any
	license = MIT
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	makedepends = python-hatchling
	makedepends = python-hatch-vcs
	depends = python>=3.9
	depends = python-iso3166
	depends = python-pycountry
	depends = python-rstr
	optdepends = python-pydantic>=2.0: data validation
	source = https://files.pythonhosted.org/packages/source/s/schwifty/schwifty-2024.11.0.tar.gz
	sha256sums = d0aaed03168403b433de515d663df09516941ae70152850da3afe3c242255f6a

pkgname = python-schwifty
